[app]
debug="true"
url=""
name=""

[database]
username=
password=
port=3306
host="127.0.0.1"
db=""

[jwt]
secret=""

[redis]
password=""
db=0
host=""
port="6379"

#邮箱配置
[email]
host=""
port=465
username=""
password=""
from=""
subject=""

#七牛相关配置
[qiniu]
accessKey="-"
secretKey=""
bucket=""

#百度统计配置
[tongji]
url=""
token=""
username=""
password=""
siteId=""

#QQ登录配置
[qq]
client_id=""
secret=""
callback=""

#微博登录配置
[weibo]
client_id=""
secret=""
callback=""

#微信小程序
[miniProgram]
client_id=""
secret=""
